{#
/**
 * @file
 * Default output for a Swiper object.
 *
 * Available variables:
 * - object: \Drupal\views\ViewExecutable or \Drupal\node\Entity\Node object.
 * - attributes: An array of attributes to apply to wrapper element.
 * - content: A renderable array of the swiper list
 * - settings: An array with various settings, properties of a chosen swiper configuration entity,
 *   combined with either Field formatter settings values or with Views style options values.
 * - swiper_title: Currently not rendered from anywhere.
 *
 * @see template_preprocess_swiper_formatter().
 */
#}
{% apply spaceless %}
  {% if content is not empty %}

  <div class="screen-wide">
    <div class="slider">
      <div class="slider__thumbs">
        <div class="swiper-thumbs" data-parent-swiper-id="{{ id }}">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
            </div>
            <div class="swiper-slide">
              <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="slider__content">
        {%
          set wrapper_classes = [
            settings.slidesPerView > 1 or settings.has_breakpoint_slides_per_view > 1 ? 'slides-multiple' : 'slide-single',
          ]
        %}
        <div{{ attributes.addClass(wrapper_classes) }}>

          {# Slides. #}
          <div{{ content_attributes }}>
            {{ content }}
          </div>

          {# Add Pagination. #}
          {% if settings.pagination.enabled or settings.has_breakpoint_pagination %}
            <div{{ pagination_attributes}}></div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endapply %}
