{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['product', 'product--full', 'product-care']) }}>
  <div class="row border-t">
    <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-4 col-dt-4 col-wd-4 border-r">
      <div class="product__image">
        {{- product.field_p_images -}}
      </div>
    </div>
    <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-5 col-dt-4 col-wd-4">
      <div class="product__brief">
        <h1>{{- product.title -}}</h1>
        <div class="product__summary">
          {{- product.body['#items'].getValue()[0].summary -}}
        </div>
        <div class="product__specs">
          {{- product.field_p_application -}}
          {{- product.field_p_type -}}
          {{- product.field_p_action -}}
          {{- product.field_p_volume -}}
          {{- product.field_p_aroma -}}
        </div>
        <div class="product__price">
          {{- product.variation_price -}}
          {{- product.variation_list_price -}}
        </div>
        <div class="product__add-to-cart">
          {{- product.variations -}}
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-1 col-dt-2 col-wd-2">
      <div class="product__socials">
        {{- socials -}}
      </div>
    </div>
  </div>

  <div class="product__description row border-t">
    <div class="tabs-js">
      <div class="tabs-js__nav scrollable page-offside-disabled">
        <a class="tabs-js__link tabs-js__link--active" data-target-id="1">Описание</a>
        {% if product.field_p_composition|render %}
        <a class="tabs-js__link" data-target-id="2">Состав</a>
        {% endif %}
        {% if product.field_p_secret_ingredient|render %}
        <a class="tabs-js__link" data-target-id="3">Секретные ингредиенты</a>
        {% endif %}
        {% if product.field_p_aroma[0]['#entity']|view('product_aroma')|render %}
        <a class="tabs-js__link" data-target-id="4">Аромат</a>
        {% endif %}
        {% if product.field_p_instructions|render %}
        <a class="tabs-js__link" data-target-id="5">Способ применения</a>
        {% endif %}
        {% if product.field_p_expert|render %}
        <a class="tabs-js__link" data-target-id="6">Мнение эксперта</a>
        {% endif %}
      </div>

      <div class="tabs-js__content tabs-js__content--visible" data-id="1">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.body -}}
        </div>
      </div>
      {% if product.field_p_composition|render %}
      <div class="tabs-js__content" data-id="2">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.field_p_composition -}}
        </div>
      </div>
      {% endif %}
      {% if product.field_p_secret_ingredient|render %}
      <div class="tabs-js__content" data-id="3">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.field_p_secret_ingredient -}}
        </div>
      </div>
      {% endif %}
      {% if product.field_p_aroma[0]['#entity']|view('product_aroma')|render %}
      <div class="tabs-js__content" data-id="4">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.field_p_aroma[0]['#entity']|view('product_aroma') -}}
        </div>
      </div>
      {% endif %}
      {% if product.field_p_instructions|render %}
      <div class="tabs-js__content" data-id="5">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.field_p_instructions -}}
        </div>
      </div>
      {% endif %}
      {% if product.field_p_expert|render %}
      <div class="tabs-js__content" data-id="6">
        <div class="col-sm-10 col-pd-10 col-tb-10 col-lp-6 col-dt-6 col-wd-6">
          {{- product.field_p_expert -}}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</article>
