{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['product', 'product--full', 'product-sertifikat']) }}>
  <div class="row border-t">
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4 border-r">
      <div class="product__image">
        {{- product.field_p_images -}}
      </div>
    </div>
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-4">
      <div class="product__brief">
        <h1>{{- product.title -}}</h1>
        <div class="product__summary">
          {{- product.body['#items'].getValue()[0].summary -}}
        </div>
        <div class="product__specs">
          {{- product.field_p_application -}}
          {{- product.field_p_type -}}
          {{- product.field_p_volume -}}
          {{- product.field_p_aroma -}}
        </div>
        <div class="product__price">
          {{- product.variation_price -}}
          {{- product.variation_list_price -}}
        </div>
        <div class="product__add-to-cart">
          {{- product.variations -}}
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-2">
      <div class="product__socials">
        {{- socials -}}
      </div>
    </div>
  </div>

  <div class="product__description row border-t">
    <div class="col-xs-10 col-md-10 col-lg-10 col-xl-6">
      {{- product.body -}}
    </div>
  </div>
</article>
